*{
    margin: 0px;
}
.grid{
    display: grid;
    margin: 0px auto;
    max-width: 100%;
    min-height: 100vh;
    grid-template-columns: 10% 70% 20%;
    grid-template-rows: 20% 60% 20%;
    grid-template-areas: 
    "my-nav my-header my-header"
    "my-section my-section my-aside"
    "my-footer my-footer my-footer"
    ;
}
    header {
        grid-area: my-header;
        background-color: rgb(43, 168, 226);
    }
    
    nav {
        grid-area: my-nav;
        background-color: cornflowerblue;
    }
    
    
    aside {
        grid-area: my-aside;
        background-color: rgb(138, 200, 230);
    }
    
    section {
        grid-area: my-section;
        background-color:white;
    }
    
    footer {
        grid-area: my-footer;
        background-color: rgb(43, 168, 226);
    }

    .InicioSesion{
        float: right;
        margin-top: 0.1cm;
        margin-right: -26%;
        text-decoration: none;
        font-size: 12px;
        font-family: Verdana;
    }
    
    .Nombre{
        float: right;
        position: relative;
        bottom: -50px;
        right: 50%;
        font-size: 30px;
        font-family: Verdana
    }
    .MiWeb{
        float: right;
        position: relative;
        bottom: -100px;
        right: 20%;
        font-size: 20px;
        font-family: Verdana
    }