*{
    margin: 0px;
}

.grid{
    display: grid;
    max-width: 100%;
    max-height: 100vh;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 200px 50vh 100px;

    grid-template-areas: "header header header"
    "nav section aside"
    "footer footer footer";
}

header{
    grid-area: header;
    background-color: blueviolet;
}
nav{
    grid-area: nav;
    background-color: cornflowerblue;
}
section{
    grid-area: section;
    background-color: indigo;
}
aside{
    grid-area: aside;
    background-color: darkmagenta;
}
footer{
    grid-area: footer;
    background-color: darkorchid;
}